<div class="container">
  <h2>Crear Usuario</h2>

  <form (ngSubmit)="onSubmit()">
    <!-- Campo para el nombre -->
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        required
      />
    </div>

    <!-- Campo para el email -->
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </div>

    <!-- Campo para el rol con un dropdown -->
    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      <select
        id="role"
        class="form-control"
        [(ngModel)]="user.role"
        name="role"
        required
      >
        <option value="DEVELOPER">DEVELOPER</option>
        <option value="TECH_LEAD">TECH LEAD</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Crear Usuario</button>
  </form>
</div>
