<div class="created-users">
  <h2>Crear Usuario</h2>

  <!-- Mensajes de éxito o error -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Formulario para crear un usuario -->
  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name" class="form-control" />
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" id="email" formControlName="email" class="form-control" />
    </div>

    <div class="form-group">
      <label for="role">Rol</label>
      <select id="role" formControlName="role" class="form-control">
        <option value="TECH_LEAD">Líder Técnico</option>
        <option value="DEVELOPER">Desarrollador</option>
      </select>
    </div>

    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Crear Usuario</button>
  </form>
</div>
